<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="icon" href="/img/weather.png" />
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <div class="main-content">
    {{>header}}
    <p>This site was created by David maxwell, using data from WeatherStack.com and MapBox.com. It was created as a learning exercise and will not be maintained.</p>
    <img src="/img/poster.jpg" class="portrait" alt="A cider festival poster" />
    </div>
    {{>footer}}
  </body>
</html>
